<div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "Titre", class: 'form-control', value: 'Link test' %>
</div>

<div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', value: 'Voici la description du link' %>
</div>

<div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "Auteur", class: 'form-control', value: 'Jean Dupont' %>
</div>

<div class="form-group">
    <%= form.label :link %>
    <%= form.text_field :link, placeholder: "Lien", class: 'form-control', value: 'www.perdu.com' %>
</div>